
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body{
    font-family: 'Krona One', sans-serif;
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
     
}

body:before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;

    left: 0;

    background-image: linear-gradient(rgba(0, 0, 0, 0.76) 40%, rgba(255, 255, 0, 0.356),rgba(0, 0, 0, 0.76));

    z-index: -1;
}


/* SUBTITULO */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;    
    margin: 40px;
    }

.banner_title h2{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.banner_title .registrate{
    color: black;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: rgb(215, 218, 12);
    padding: 20px;
}

.banner_img img{
    width: 600px;
    display: block;
}


/* COPAS INTERNACIONALES */

#copas{
    background-image: linear-gradient(rgba(0, 0, 0, 0.76) , rgba(255, 255, 0, 0.356), rgba(0, 0, 0, 0.76));
    color: black;
}

.copas{
    text-align: center;
   
    align-items: center;
    justify-content: center;
    color: #fff;
    

}



.copas h2 , h3, h4{
    margin: 0px;
    padding: 15px;
    font-size: 17px;
}



.copas img{
    border: #fff solid 3px;
}
/* REDES */

footer{
    text-align: center;
    padding: 60px 0;
    color: #fff;
    background: black;
}


footer img{
    padding: 10px;
    width: 60px ;
    height: 60px ;
}





