*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Krona One', sans-serif;
    color: #fff;
    margin: 0;
   

}

        /* CONTENEDOR AL TODOS LOS LINKS */


.boca img{
    width: 120px;
}

body :before{
    content: "";
    width: 100%;
    min-height: 170vh;
    position: absolute;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.726);

    opacity: 0.1;
    z-index: -1;
}

#background{
    background: linear-gradient(black,black,rgba(0, 195, 255, 0.274),black);
}

/* CONTENIDO */
   /* CABJ */

   .escudo img{
    width: 120px;
}


  
        /* /* LOGO Y MENU */  

        /* EN ESTE MOMENTO ESTA EL DE BOOSTRAP */

        .contenedor{
            width: 90%;
            max-width: 1200px;
            margin: auto;
        }

        .bj_animate{
            width: 100%;
            height: 100vh;
            position: relative;
        }

        .header_nav{
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .header_nav .contenedor{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
        }

        .header_nav nav a{
            color:#fff;
            text-decoration: none;
            margin-right: 10px;
        }


    /* HISTORIA */
    .titulo{
        font-family: 'Bebas Neue', cursive;
        justify-content: center;
        margin: 40px;
        text-align: center;
    }



        /* Quise usar el selector .p
        pero al momento de querer acomodar las imagenes, solo se mueve la primera de los escudos
        (es raro, ya que es todo un contenedor las imagenes) */
    .contenedor{
        text-align: center;
        margin: 30px;
        padding: 15px;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .contenedor img{
        border: 3px solid #fff;
        margin: 30px;
    }



    .row{
    margin: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    }



/* FOOTER*/

footer{
    text-align: center;
    padding: 60px 0;
    color: #fff;
    background: black;
}


footer img{
    padding: 10px;
    width: 60px ;
    height: 60px ;
}


/* MEDIA QUERIES */

@media screen and (max-width:768px){
    .contenedorr{
        grid-template-areas: "header header header"
                            "contenido contenido contenido"
                              "click click_dos sidebar";
    


  }
}


@media screen and (max-width:375px){
    .contenedorr{
        grid-template-areas: "header header header"
                            "contenido contenido contenido"
                            "sidebar sidebar sidebar"
                              "click click click_dos";
  }
}
  