
body{
    font-family: 'Krona One', sans-serif;
    background: url(../multimedia/carlosboca.jpg);
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 110%;
    background-attachment: fixed;

}

.boca img{
    width: 120px;
}

body :before{
    content: "";
    width: 100%;
    min-height: 170vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(rgb(0, 0, 0), rgba(52, 224, 210, 0.932));

    opacity: 0.1;
    z-index: -1;
}

.contenedor{
    margin: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* REDES */

footer{
    text-align: center;
    padding: 60px 0;
    color: #fff;
    background: black;
    margin: 120px;
    margin-left: 0px;
    margin-right: 0px;
}


footer img{
    padding: 10px;
    width: 60px ;
    height: 60px ;
    
}