*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}




    /* CABJ */

.escudo img{
    width: 120px;
}

   

.contenedor{
    margin: 0;
    padding: 20px;
    justify-content: center;
    font-size: 15px;
    text-align: center;
    align-items: center;
    color: #fff;
    background-color: #484848;
}

/* HISTORIA */

.parteuno{
    grid-column: 1/ span 3 ;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.partedos{
    grid-column: 1/ span 3 ;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.partetres{
    grid-column: 1/ span 3 ;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



  /* LOGO Y MENU */  

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.header_nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header_nav .contenedor{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header_nav nav a{
    color:#484848;
    text-decoration: none;
    margin-right: 10px;
}



/* EFECTO LUZ MENU */


    /* HISTORIA */
.menu span{
    transition: .5s linear;

}

.menu:hover span:nth-child(3){
    margin-right: 1px;
}

.menu:hover span:nth-child(3){
    margin-right: 1px;
}

.menu:hover span{
    color: #fff;
    text-shadow: 0 0 40px #fff;
}
   


/* REDES */

footer{
    text-align: center;
    padding: 60px 0;
    color: #fff;
    background: black;
}


footer img{
    padding: 10px;
    width: 60px ;
    height: 60px ;
}


/* MEDIA QUERIES */

@media all and (max-width: 600px){
    aside, article{
        grid-column: 1 / span 3;
    }

    .grid-container{
        grid-template-rows: repeat(5, 100px);
        font-size: 10px;
    }

    .parteuno, .partedos ,.partetres{
        font-size: 6px;
    }
}
