/* INDEX */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Krona One', sans-serif; }

body {
  font-family: 'Krona One', sans-serif;
  background: url(../multimedia/remerafondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

body:before {
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

/* SUBTITULO */
.hamburguesa {
  background-color: white;
  border-radius: 100px;
  border: 100px; }

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }
  .banner .banner_title h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 50px; }
  .banner .banner_img img {
    width: 700px;
    display: block; }

.tituloindex {
  margin: 50px;
  justify-content: center;
  align-items: center;
  text-align: center; }

/* COPAS INTERNACIONALES */
#copas {
  background-image: rgba(0, 0, 0, 0.76); }
  #copas .copas {
    text-align: center;
    align-items: center;
    justify-content: center; }
  #copas .copas h2 {
    margin: 20px;
    padding: 15px;
    font-size: 20px; }
  #copas .copas img {
    border: #fff solid 2px;
    margin: 20px; }

.copas img:hover {
  transform: scale(1.01); }

.la12 img:hover {
  transform: scale(1.01); }

/* LA12 */
.la12 h4 {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px; }

.texto {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px; }

.la12 img {
  justify-content: center;
  align-items: center;
  text-align: center; }

.la12 img:hover {
  transform: scale(1.15); }

.amarillo {
  color: yellow; }

/* SPONSORS */
.sponsor img {
  width: 100px;
  justify-content: center;
  align-items: center;
  margin: 20px; }

.sponsor {
  justify-content: center;
  align-items: center;
  margin: 20px; }

.sponsor img:hover {
  transform: scale(1.25); }

/* REDES */
.footer {
  text-align: center;
  padding: 60px 0;
  background: blue;
  width: 60%; }
  .footer .redes img {
    padding: 10px;
    width: 60px;
    height: 60px; }

.logofoot img {
  width: 170px; }

@media screen and (max-width: 320px) {
  .escudomedia {
    display: none; }
  .la12img img {
    display: none; }
  footer {
    width: auto; } }

@media screen and (max-width: 375px) {
  .escudomedia {
    display: none; }
  .la12img img {
    display: none; }
  footer {
    width: auto; } }

@media screen and (max-width: 425px) {
  .escudomedia {
    display: none; }
  footer {
    width: auto; } }

@media screen and (max-width: 768px) {
  .escudomedia {
    display: none; }
  .la12img img {
    display: none; }
  footer {
    width: auto; } }

/* FIN DEL INDEX */
/* HISTORIA */
.titulohis, h2 {
  margin: 40px;
  justify-content: center;
  align-items: center;
  text-align: center; }

.hamburguesahistoria {
  background-color: white;
  border-radius: 100px;
  border: 100px; }

/* LIBERTADORES*/
.libertadores {
  align-items: center;
  justify-content: center;
  margin: 50px; }

.libertadores img:hover {
  transform: scale(1.05); }

.campeonatos {
  justify-content: center;
  align-items: center;
  align-items: center;
  margin: 40px; }

.titulosdeboca {
  justify-content: center;
  text-align: center;
  margin: 90px; }

.titulosdeboca img:hover {
  transform: scale(1.05); }

/* FOOTER*/
footer {
  text-align: center;
  padding: 60px 0;
  color: #fff;
  background: black; }

footer img {
  padding: 10px;
  width: 60px;
  height: 60px; }

@media screen and (max-width: 320px) {
  .titulosdeboca {
    display: none; } }

/* CONTACTO */
/* FORMULARIO*/
.hamburguesacontacto {
  background-color: white;
  border-radius: 100px;
  border: 100px; }

.header_nav h1 {
  font-family: 'Krona One', sans-serif;
  color: #fff;
  font-size: 140%; }

.header_nav nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px; }

.contenedorr .form .form-header .form-title {
  font-weight: normal;
  font-family: 'Krona One', sans-serif;
  text-align: center; }

.contenedorr .form .form-header .form-title {
  color: #fff; }

.contenedorr .form {
  background: rgba(0, 0, 0, 0.6);
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 50px;
  padding-bottom: 30px;
  border-radius: 3px; }

.contenedorr .form .form-label {
  display: block;
  color: rgba(255, 255, 255, 0.822);
  font-size: 16px;
  position: relative; }

.contenedorr .form .form-input, .form-textarea {
  background: rgba(10, 12, 12, 0.938);
  border: none;
  outline: none;
  border-bottom: 2px solid;
  width: 100%;
  padding: 12px;
  margin-bottom: 30px;
  border-radius: 2px;
  font-size: 14px;
  color: yellow; }

.contenedorr .form .form-textarea {
  resize: vertical;
  max-height: 150px;
  min-height: 50px; }

.contenedorr .form .btn-submit {
  width: 100%;
  outline: none;
  background: yellow;
  font-size: 16px;
  border: none;
  padding: 15px 0;
  cursor: pointer;
  transition: all .5s ease;
  color: black; }

.contenedorr .form .btn-submit:hover {
  background: #f7d202; }

/* FIN DEL CONTACTO */
/* BOMBONERA */
/* ESLOGAN */
.hamburguesabombonera {
  background-color: white;
  border-radius: 100px;
  border: 100px; }

.canchadibujo img:hover {
  transform: scale(1.2); }

.letras {
  justify-content: center;
  align-items: center;
  text-align: center; }

h4 {
  justify-content: center;
  text-align: center;
  margin: 25px;
  margin-top: 80px; }

/* YOUTUBE, MAPS Y MUSEO*/
.titulolaboca, .museotit {
  margin: 40px;
  justify-content: center;
  align-items: center; }

.horarios {
  margin: 50px;
  align-items: center;
  justify-content: center;
  text-align: center; }

.bombonera360 {
  margin: 30px;
  align-items: center;
  justify-content: center;
  text-align: center; }

.informacion {
  margin: 50px; }

.titulomuseo, .titulobombonera {
  justify-content: center;
  align-self: center;
  text-align: center;
  margin: 40px; }

.titulobombonera img {
  justify-content: center;
  align-items: center;
  border: 3px solid #fff; }

.museo {
  margin: 50px; }

.infobasica {
  margin: 40px;
  margin-top: 70px;
  justify-content: center;
  text-align: center; }

.escudo3d img {
  margin: 40px;
  align-items: center; }

/* REDES */
footer {
  margin: 0;
  padding: 90px; }
  footer .redes img {
    padding: 10px;
    width: 60px;
    height: 60px; }

/* FIN DE HISTORIA */
/* PLANTEL  */
/* JUGADORES */
.hamburguesaplantel {
  background-color: white;
  border-radius: 100px;
  border: 100px; }

.main_jugadores img {
  border-radius: 40px;
  margin: 5px; }

.arqueros img:hover {
  transform: scale(1.25); }

.defensores img:hover {
  transform: scale(1.25); }

.defensoresdos img:hover {
  transform: scale(1.25); }

.medio img:hover {
  transform: scale(1.25); }

.mediodos img:hover {
  transform: scale(1.25); }

.delanteros img:hover {
  transform: scale(1.25); }

.delanterosdos img:hover {
  transform: scale(1.25); }

/* TITULOS */
.plantel {
  display: flex;
  margin: 30px;
  justify-content: center;
  margin-top: 80px;
  border-radius: 50px; }

.arquerostitulo {
  display: flex;
  margin: 30px;
  justify-content: center; }

.defensortitulo {
  display: flex;
  margin: 30px;
  justify-content: center; }

.mediocampistastitulo {
  display: flex;
  margin: 0px;
  justify-content: center; }

.delanterostitulo {
  display: flex;
  margin: 30px;
  justify-content: center; }

.delanterosdos {
  display: flex;
  margin: 30px;
  justify-content: center; }

/* ARQUEROS */
.arqueros {
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

/* DEFENSORES */
.defensores {
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

.defensoresdos {
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

/* MEDIOCAMPISTAS */
.medio {
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

.mediodos {
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

/* DELANTEROS */
.delanteros {
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

.delanterosdos {
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }
