/* INDEX */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* SUBTITULO */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }
  .banner .banner_title h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 50px; }
  .banner .banner_title .registrate {
    color: black;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: #d7da0c;
    padding: 20px; }
  .banner .banner_img img {
    width: 700px;
    display: block; }

/* COPAS INTERNACIONALES */
#copas {
  background-image: rgba(0, 0, 0, 0.76); }
  #copas .copas {
    text-align: center;
    align-items: center;
    justify-content: center; }
  #copas .copas h2 {
    margin: 20px;
    padding: 15px;
    font-size: 20px; }
  #copas .copas img {
    border: #fff solid 2px;
    margin: 20px; }

.copas img:hover {
  transform: scale(1.01); }

/* LA12 */
.la12 h4 {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px; }

.texto {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px; }

.la12 img {
  justify-content: center;
  align-items: center;
  text-align: center; }

.la12 img:hover {
  transform: scale(1.15); }

/* SPONSORS */
.sponsor img {
  width: 100px;
  justify-content: center;
  align-items: center;
  margin: 20px; }

.sponsor {
  justify-content: center;
  align-items: center;
  margin: 20px; }

.sponsor img:hover {
  transform: scale(1.25); }

/* REDES */
footer {
  text-align: center;
  padding: 60px 0;
  background: black;
  width: 100%; }
  footer .redes img {
    padding: 10px;
    width: 60px;
    height: 60px; }

/* FIN DEL INDEX */
/* HISTORIA */
.historiabody {
  background: black; }

.titulohis, h2 {
  margin: 40px;
  justify-content: center;
  align-items: center;
  text-align: center; }

/* SUBTITULO */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }
  .banner .banner_title h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px; }
  .banner .banner_title .registrate {
    color: black;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: #d7da0c;
    padding: 20px; }
  .banner .banner_img img {
    width: 500px;
    display: block; }

/* LIBERTADORES*/
.libertadores {
  align-items: center;
  justify-content: center;
  margin: 50px; }

.campeonatos {
  justify-content: center;
  align-items: center;
  align-items: center;
  margin: 40px; }

/* FOOTER*/
footer {
  text-align: center;
  padding: 60px 0;
  color: #fff;
  background: black; }

footer img {
  padding: 10px;
  width: 60px;
  height: 60px; }

/* CONTACTO */
/* FORMULARIO*/
.header_nav h1 {
  font-family: 'Krona One', sans-serif;
  color: #fff;
  font-size: 140%; }

.header_nav nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px; }

.contenedorr .form .form-header .form-title {
  font-weight: normal;
  font-family: 'Krona One', sans-serif;
  text-align: center; }

.contenedorr .form .form-header .form-title {
  color: #fff; }

.contenedorr .form {
  background: rgba(0, 0, 0, 0.6);
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 50px;
  padding-bottom: 30px;
  border-radius: 3px; }

.contenedorr .form .form-label {
  display: block;
  color: rgba(255, 255, 255, 0.822);
  font-size: 16px;
  position: relative; }

.contenedorr .form .form-input, .form-textarea {
  background: rgba(10, 12, 12, 0.938);
  border: none;
  outline: none;
  border-bottom: 2px solid;
  width: 100%;
  padding: 12px;
  margin-bottom: 30px;
  border-radius: 2px;
  font-size: 14px;
  color: yellow; }

.contenedorr .form .form-textarea {
  resize: vertical;
  max-height: 150px;
  min-height: 50px; }

.contenedorr .form .btn-submit {
  width: 100%;
  outline: none;
  background: yellow;
  font-size: 16px;
  border: none;
  padding: 15px 0;
  cursor: pointer;
  transition: all .5s ease;
  color: black; }

.contenedorr .form .btn-submit:hover {
  background: #f7d202; }

/* FIN DEL CONTACTO */
/* BOMBONERA */
/* ESLOGAN */
.letras {
  justify-content: center;
  align-items: center;
  text-align: center; }

h4 {
  justify-content: center;
  text-align: center;
  margin: 25px;
  margin-top: 80px; }

/* YOUTUBE, MAPS Y MUSEO*/
.titulolaboca, .museotit {
  margin: 40px;
  justify-content: center;
  align-items: center; }

.horarios {
  margin: 50px;
  align-items: center;
  justify-content: center;
  text-align: center; }

.bombonera360 {
  margin: 30px;
  align-items: center;
  justify-content: center;
  text-align: center; }

.informacion {
  margin: 50px; }

.titulomuseo, .titulobombonera {
  justify-content: center;
  align-self: center;
  text-align: center;
  margin: 40px; }

.titulobombonera img {
  justify-content: center;
  align-items: center;
  border: 3px solid #fff; }

.museo {
  margin: 50px; }

/* REDES */
footer {
  text-align: center;
  padding: 60px 0;
  background: black;
  width: 100%; }
  footer .redes img {
    padding: 10px;
    width: 60px;
    height: 60px; }

/* FIN DE HISTORIA */
/* PLANTEL  */
/* JUGADORES */
.main_jugadores img {
  border-radius: 40px;
  margin: 5px; }

.arqueros img:hover {
  transform: scale(1.25); }

.defensores img:hover {
  transform: scale(1.25); }

.defensoresdos img:hover {
  transform: scale(1.25); }

.medio img:hover {
  transform: scale(1.25); }

.mediodos img:hover {
  transform: scale(1.25); }

.delanteros img:hover {
  transform: scale(1.25); }

.delanterosdos img:hover {
  transform: scale(1.25); }

.planter .contenedor {
  width: 90%;
  max-width: 1400px;
  margin: auto; }

.planter .bg_animate {
  width: 100%;
  height: 110vh; }

.planter .header_nav {
  width: 100%; }

.planter .header_nav .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px; }

/* TITULOS */
.plantel {
  display: flex;
  margin: 30px;
  justify-content: center;
  margin-top: 80px;
  border-radius: 50px; }

.arquerostitulo {
  display: flex;
  margin: 30px;
  justify-content: center; }

.defensortitulo {
  display: flex;
  margin: 30px;
  justify-content: center; }

.mediocampistastitulo {
  display: flex;
  margin: 0px;
  justify-content: center; }

.delanterostitulo {
  display: flex;
  margin: 30px;
  justify-content: center; }

.delanterosdos {
  display: flex;
  margin: 30px;
  justify-content: center; }

/* ARQUEROS */
.arqueros {
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

/* DEFENSORES */
.defensores {
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

.defensoresdos {
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

/* MEDIOCAMPISTAS */
.medio {
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

.mediodos {
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

/* DELANTEROS */
.delanteros {
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

.delanterosdos {
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

#medio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(255, 255, 0, 0.356), rgba(0, 0, 0, 0.76));
  margin: auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Krona One', sans-serif;
  background: rgba(0, 0, 0, 0.575); }
