/* BOMBONERA */
.hamburguesabombonera{
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    border: 100px;
}
/* TITULO */
.canchadibujo{
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 300px;
}
/*ESCUDO3D BOCA E INFO*/
.infobasica{
    margin: 40px;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
}
.escudo3d img{
    margin: 50px;
}

/* MEDIA QUERIES */
@media screen and (max-width:375px){
    .museoinfo{
        display: none;
    }
}

/* FIN DE BOMBONERA*/
  