/* BOMBONERA */



/* ESLOGAN */
.hamburguesabombonera{
        background-color: rgb(255, 255, 255);
        border-radius: 100px;
        border: 100px;
}
.canchadibujo img:hover{
    transform: scale(1.20);
}
.letras{
    
    justify-content: center;
    align-items: center;
    text-align: center;
}
h4{
    justify-content: center;
    text-align: center;
    margin: 25px;
    margin-top: 80px;
}

/* YOUTUBE, MAPS Y MUSEO*/
.titulolaboca, .museotit{
    margin: 40px;
    justify-content: center;
    align-items: center;
}
.horarios{
    margin: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.bombonera360{
    margin: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.informacion{
    margin: 50px;
}

.titulomuseo , .titulobombonera{
    justify-content: center;
    align-self: center;
    text-align: center;
    margin: 40px;
}
.titulobombonera img{
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
}
.museo{
    margin: 50px;
}

.infobasica{
    margin: 40px;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
}

.escudo3d img{
    margin: 40px;
    align-items: center;
}
/* REDES */
footer{
    margin: 0;
    padding: 90px;
    .redes img{
        padding: 10px;
        width: 60px ;
        height: 60px ;
    }
}



/* FIN DE HISTORIA */