/* BOMBONERA */



/* ESLOGAN */
.letras{
    
    justify-content: center;
    align-items: center;
    text-align: center;
}
h4{
    justify-content: center;
    text-align: center;
    margin: 25px;
    margin-top: 80px;
}

/* YOUTUBE, MAPS Y MUSEO*/
.titulolaboca, .museotit{
    margin: 40px;
    justify-content: center;
    align-items: center;
}
.horarios{
    margin: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.bombonera360{
    margin: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.informacion{
    margin: 50px;
}

.titulomuseo , .titulobombonera{
    justify-content: center;
    align-self: center;
    text-align: center;
    margin: 40px;
}
.titulobombonera img{
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
}
.museo{
    margin: 50px;
}


/* REDES */

footer{
    text-align: center;
    padding: 60px 0;
    background: black;
    width: 100%;
    .redes img{
        padding: 10px;
        width: 60px ;
        height: 60px ;
    }
}

/* FIN DE HISTORIA */