/* HISTORIA */
.titulohis, h2{
    margin: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hamburguesahistoria{
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    border: 100px;
}
/* LIBERTADORES*/
.libertadores{
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.libertadores img:hover{
    transform: scale(1.05);
}


.campeonatos{
    justify-content: center;
    align-items: center;
    align-items: center;
    margin: 40px;
}

.titulosdeboca{
    justify-content: center;
    text-align: center;
    margin: 90px;
}
.titulosdeboca img:hover{
    transform: scale(1.05);
}
/* FOOTER*/
footer{
    text-align: center;
    padding: 60px 0;
    color: #fff;
    background: black;
}
footer img{
    padding: 10px;
    width: 60px ;
    height: 60px ;

}

@media screen and(max-width:320px){
    .titulosdeboca{
        display: none;
    }
}
