/* HISTORIA */
.historiabody{
    background:black;
}


.titulohis, h2{
    margin: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* SUBTITULO */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .banner_title h2{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .banner_title .registrate{
        color: black;
        font-size: 20px;
        text-decoration: none;
        display: inline-block;
        background: rgb(215, 218, 12);
        padding: 20px;
    }
    .banner_img img{
        width: 500px;
        display: block;
    }
}

/* LIBERTADORES*/
.libertadores{
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.campeonatos{
    justify-content: center;
    align-items: center;
    align-items: center;
    margin: 40px;
}


/* FOOTER*/
footer{
    text-align: center;
    padding: 60px 0;
    color: #fff;
    background: black;
}
footer img{
    padding: 10px;
    width: 60px ;
    height: 60px ;

}


