/* INDEX */
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;  
    color: $colorletra;
    font-family: 'Krona One', sans-serif;
}
body{
    font-family: 'Krona One', sans-serif;
    background: url(../multimedia/remerafondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}
.hamburguesa{
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    border: 100px;
}
.logocabj {
    width: 140px;
}
/* SUBTITULO */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; 
    margin: 30px;
    .titulobanner h2{
        font-size: 30px;
        font-weight: 600;
        margin: 50px;
    }
    .imagenbanner img{
        width: 700px;
        display: block;
    }   
}

/* COPAS INTERNACIONALES */
.mundotitulo{
    margin: 30px;
    width: 300px;
}
.titulosh2{
    justify-content: center;
    text-align: center;
    margin: 50px;
}
.copas img:hover{
    transform: scale(1.01);
}

/* LA12 */
.la12 img{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.amarillo{
    color: yellow;
}
.la12 img:hover{
    transform: scale(1.10);
}
.texto12{
    font-size: 20px;
}

/* SPONSORS */
.sponsorimg img{
    width: 100px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.sponsorimg img:hover{
    transform: scale(1.10);
}

/* FOOTER */
.footer{
    text-align: center;
    padding: 60px 0;
    background: blue;
    width: 60%;
}

/* MEDIA QUERIES */
@media screen and (max-width:320px){
    .escudomedia{
        display: none;
    }
    .mundotitulo{
        display: none;
    }
    .tituloladoce{
        display: none;
    }
    .la12{
        display: none;
    }
    footer{
        width: auto;
    }
} 

@media screen and (max-width:375px){
    .escudomedia{
        display: none;
    }
    .mundotitulo{
        display: none;
    }
    .tituloladoce{
        display: none;
    }
    .la12{
        display: none;
    }
    footer{
        width: auto;
    }
}

@media screen and (max-width:425px){
    .escudomedia{
        display: none;
    }
    .mundotitulo{
        display: none;
    }
    .tituloladoce{
        display: none;
    }
    .la12{
        display: none;
    }
    footer{
        width: auto;
    }
}

@media screen and (max-width:768px){
    .escudomedia{
        display: none;
    }
    .la12img img{
        display: none;
    }
    footer{
        width: auto;
    }
}

/* FIN DEL INDEX */