/* INDEX */
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;  
}



/* SUBTITULO */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; 
    .banner_title h2{
        font-size: 30px;
        font-weight: 600;
        
        margin: 50px;
    }
    .banner_title .registrate{
        color: black;
        font-size: 20px;
        text-decoration: none;
        display: inline-block;
        background: rgb(215, 218, 12);
        padding: 20px;
    }
    .banner_img img{
        width: 700px;
        display: block;
    }   
}

/* COPAS INTERNACIONALES */
#copas{
    background-image: rgba(0, 0, 0, 0.76);
    .copas{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .copas h2{
        margin: 20px;
        padding: 15px;
        font-size: 20px;
    } 
    .copas img{
        border: #fff solid 2px;
        margin: 20px;
    }
}

.copas img:hover{
    transform: scale(1.01);
}

/* LA12 */
.la12 h4{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px;
}
.texto{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px;
    
}
.la12 img{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.la12 img:hover{
    transform: scale(1.15);
}


/* SPONSORS */
.sponsor img{
    width: 100px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.sponsor{
    justify-content: center;
    align-items: center;
    margin: 20px;
}


.sponsor img:hover{
    transform: scale(1.25);
}


/* REDES */

footer{
    text-align: center;
    padding: 60px 0;
    background: black;
    width: 100%;
    .redes img{
        padding: 10px;
        width: 60px ;
        height: 60px ;
    }
}

/* FIN DEL INDEX */